PORT=301
DATABASE_URL=
MSSQL_LOCAL_ADDRESS=
MSSQL_USER=
MSSQL_PASS_WORD=
MSSQL_DATABASE=
USERS_TABLE=
USERS_WHS_TABLE=
COUNTING_REQUEST_PROCDURE=
HANA_HOST=
HANA_USER=
HANA_PASSWORD=
HANA_DATABASE=
HANA_STOCK_PROCDURE=
HANA_WAHREHOUSES=
EMAIL_HOST=
EMAIL_FROM=
EMAIL_PASS=