<div>
    <a style="color: white;" href="/choose" id="goTransaction">press</a>
</div>

<div>
    <a style="color: white;" href="/Sales" id="goSalesWhs">press</a>
</div>

<div class="loadWrapper">
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <span>Loading</span>
</div>